$color-selection-inactive: rgb(6, 69, 75);
$color-selection-inactive-bg: rgba(6, 69, 75, 0.3);
$color-selection-active: rgb(46, 17, 193);
$color-selection-active-bg: rgba(46, 17, 193, 0.3);
$color-danger: red;

.imageTaggerWrapper {
	min-height: 90vh;
	margin: 5vh 0;
	background-color: #ccc;
	border-radius: 20px;
	padding: 20px;
}
.image {
	display: inline-block;
	position: relative;
}
.imageMap {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
.areaPicker {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	cursor: crosshair;
	&.selecting {
		z-index: 10;
	}
	&.inactive {
		cursor: default;
	}
}
.areaWrapper {
	position: absolute;
	box-sizing: border-box;
	.areaTag {
		position: absolute;
		top: 100%;
		left: 0;
		background-color: $color-selection-inactive;
		color: white;
		font-weight: bold;
		padding: 3px 7px;
		border-radius: 0 0 3px 3px;
		max-width: 100%;
		p {
			margin: 0;
			font-size: 14px;
			padding: 2px 1px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		input {
			font-size: 14px;
			color: white;
			font-weight: bold;
			background: transparent;
			border: none;
			outline: none;
		}
	}
	.areaDelete {
		position: absolute;
		height: 35px;
		width: 35px;
		top: -35px;
		padding: 5px;
		right: 0;
		color: $color-danger;
		cursor: pointer;
	}
	&.selected {
		.areaTag {
			max-width: none;
			background-color: $color-selection-active;
		}
	}
}

.area {
	position: absolute;
	box-sizing: border-box;
	border: 2px dashed $color-selection-inactive;
	background-color: $color-selection-inactive-bg;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	&:not(.initialized) {
		cursor: pointer;
	}
	&.initialized,
	&.selected {
		border: 2px dashed $color-selection-active;
		background-color: $color-selection-active-bg;
	}
	&.selected {
		cursor: move;
	}
	.areaResizer {
		position: absolute;
		width: 20px;
		height: 20px;
		bottom: 0;
		right: 0;
		cursor: nwse-resize;
	}
}
.toolbar {
	button svg {
		vertical-align: text-top;
	}
	.jsonDisplay {
		width: 100%;
	}
}
.fileSelection {
	text-align: center;
	.error {
		margin: 20px;
		font-weight: bold;
		color: $color-danger;
	}
	.selectForm {
		margin: 20px;
	}
}
